

/* Generales */


.footer-logo img {
    max-width:252px;
}

#header .header-logo {
    padding: 0;
}

#header .header-logo img {
    max-height: 60px;
}

header.style-1 .main-menu ul > li {
    padding: 0 4px;
}

header.style-1 .main-menu ul > li a {
    padding: 15px 10px;
}

header.style-1 .main-menu ul > li i {
    display: inline-block;
    color: black;
    position: relative;
    right: 0;
    top: 0;
    opacity: 1;
}

label.errorModalAgendarCita {
    color:red !important;
    font-size: 10px !important;
}

#mensaje_exito_agendarCita {
    color:green;
}

.redesEnlaceMenu a {
    padding: 15px 0 !important;

}

.enlace_vehiculo {
    cursor: pointer;
}

.circle-border {
    border: 0 solid var(--black-color);
}

.circle-border svg {
    fill: var(--black-color);
}

.circle-border svg path {
    stroke: var(--black-color);
}

.circle-border .moving-circle {
    background: var(--black-color);
}

.circle-border .moving-circle:nth-child(2) {
    background: var(--black-color);
}

.circle-border .moving-circle:nth-child(3) {
    background: var(--black-color);
}

.whatsapp {
    background-color: #25d366;
    border-radius: 50px;
    bottom: 40px;
    color: #FFF;
    font-size: 30px;
    height: 60px;
    position: fixed;
    right: 40px;
    text-align: center;
    width: 60px;
    z-index: 100;
}

.whatsapp:hover {
    color: #000;
}

.whatsapp-icon {
    margin-top:13px;
}

.signUp-modal .modal-dialog .modal-content {
    padding: 0;
}

.signUp-modal.sell-with-us .modal-dialog .modal-content .modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}

.signUp-modal.sell-with-us .modal-dialog .modal-content .modal-body {
    padding: 0 35px 70px 35px;
}

#loader {
    left: calc(50% - 100px);
    position: absolute;
    top: calc(50% - 56px);
}

@media (max-width: 576px) {
    header.style-1 .header-logo img {
        max-width: 80px;
    }
}


/* Modales */


.compare-modal .modal-header {
    align-items: center;
}

.compare-modal .modal-header .btn-close {
    background-color: rgba(255, 72, 32, 0.14);
    color: #FF4820;
}

.compare-modal .modal-header .btn-close:hover {
    background-color: #FF4820;
    color: #FFF;
}


/* Interfaz inicio */


#interfaz_inicio #seccion_porQueElegirAlbacar {
    background-color: #FFF;
}

#interfaz_inicio #seccion_vehiculosDestacados {
    background-color: #FAF8FB;
}

#interfaz_inicio #seccion_tiposDeVehiculos {
    background-color: #FFF;
}

#interfaz_inicio #seccion_tiposDeVehiculos .car-category {
    border: none;
}

#interfaz_inicio #seccion_quieresVenderOCambiarTuAuto {
    background-color: #FAF8FB;
}

#interfaz_inicio #seccion_buscasFinanciamiento {
    background: #FFF;
}

#interfaz_inicio #seccion_buscasFinanciamiento .video-btn a {
    align-items: center;
    background: var(--title-color);
    border: 1px solid var(--title-color);
    border-radius: 10px;
    color: var(--white-color);
    display: flex;
    font-family: var(--font-montserrat);
    font-size: 15px;
    font-weight: 500;
    gap: 5px;
    margin: 20px auto 0;
    overflow: hidden;
    padding: 5px 18px;
    position: relative;
    transition: all 0.5s ease-out 0s;
    width: auto;
    z-index: 1;
}

#interfaz_inicio #seccion_vehiculosConDescuentoEspecial {
    background-color: #FAF8FB;
}

#interfaz_inicio #seccion_testimonios {
    background-color: #FFF;
}

#interfaz_inicio #seccion_blog{
    background-color: #FAF8FB;
}

#interfaz_inicio #seccion_contacto {
    background-color: #FFF;
}

#interfaz_inicio #seccion_contacto .inquiry-form {
    background-color: #FAF8FB;
    background-image: none;
}

#interfaz_inicio #sliderPrincipal {
    padding: 0px 6.3%;
}

#interfaz_inicio .brand-category-card {
    border-radius: 10px;
}

#interfaz_inicio .brand-category-card .new {
  font-family: var(--font-open-sans);
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  color: var(--black-color);
  background-color: var(--primary-color1);
  display: inline-block;
  z-index: 99;
  position: absolute;
  left: 0;
  top: 0;
  padding: 6px 20px;
  border-radius: 10px 0;
}

#interfaz_inicio .enlace_vehiculo h5 {
    color: #FFF;
}




#interfaz_inicio label.errorContacto {
    color:red !important;
    font-size: 10px !important;
}

#interfaz_inicio #mensaje_exito_contacto {
    color: green;
}

#interfaz_inicio .news-section .news-card .content > h6 a {
    height: 52px;
    display: block;
}

#interfaz_inicio .video-btn {
    margin: auto;
}

#interfaz_inicio .why-choose-area {
    background: none;
}

#interfaz_inicio video {
    border-radius: 25px !important;
    width: 100%;
}

#interfaz_inicio .home5-banner-area .banner-content h1,
#interfaz_inicio .home5-banner-area .banner-content p {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#interfaz_inicio #enlace_resenas {
    background-color: #FFF;
}


@media only screen and (max-width: 800px) {
    #interfaz_inicio .home5-banner-area .banner-content h1 {
        font-size: 25px;
    }

    #interfaz_inicio .home5-banner-area .banner-content p {
        font-size: 14px;
        margin-bottom: 5px;
    }

    #interfaz_inicio .home5-banner-area .banner-content .primary-btn3 {
        height: 30px;
    }
}


/* Interfaz Listado de vehiculos */


#interfaz_vehiculos #seccionProductos {
    background:#FAF8FB;
}

#interfaz_vehiculos .enlace_borrarFiltros, #interfaz_vehiculos .enlace_borrarEtiqueta {
    cursor: pointer;
}

#interfaz_vehiculos .product-sidebar .product-widget {
    background: #E9E9E9;
}

#interfaz_vehiculos .menuMarca:after {
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    content: '';
    display: block;
    height: 8px;
    margin-top: -4px;
    cursor:pointer;
    position: relative;
    right: 12px;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 8px;
}

#interfaz_vehiculos .menuMarca.activo:after{
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    content: '';
    display: block;
    height: 8px;
    margin-top: -4px;
    cursor:pointer;
    position: relative;
    right: 12px;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 8px;
}

#interfaz_vehiculos .filtroModelo {
    margin-left: 15px;
}

#interfaz_vehiculos .nice-select.open .list {
    width: 150px;
}

#interfaz_vehiculos .product-card3 .new {
    background-color: var(--primary-color1);
    /*border-radius: 10px 0;*/
    color: var(--black-color);
    display: inline-block;
    font-family: var(--font-open-sans);
    font-size: 10px;
    font-weight: 600;
    left: 0;
    line-height: 14px;
    padding: 6px 20px;
    position: absolute;
    top: 0;
    z-index: 99;
}

#interfaz_vehiculos #seccionProductos .swiper-slide img {
    width: 100%;
}

#interfaz_vehiculos .product-card .product-content .features::after {
    background-color: #FFF;
}

#interfaz_vehiculos #contiene_paginacionAnterior .colorGris, #interfaz_vehiculos #contiene_paginacionSiguiente .colorGris {
    color: #E9E9E9;
}

#interfaz_vehiculos .list-group-wrapper .price-location {
    margin-bottom: 35px;
}

#interfaz_vehiculos .list-group-wrapper h5 {
    margin-bottom: 35px;
}

#interfaz_vehiculos #columna_resultados {
    margin-top: 6px;
}

#interfaz_vehiculos #contenedor_concesionarios{
    max-height:80px;
    overflow-y:scroll;
}

#interfaz_vehiculos #contenedor_concesionarios::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

@media only screen and (max-width: 1199px) {
    #interfaz_vehiculos #contenedor_filtros {
        display: none;
    }

    #interfaz_vehiculos #enlace_mostrarFiltros {
        display: block;
    }

    #interfaz_vehiculos #enlace_ocultarFiltros {
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
    #interfaz_vehiculos #contenedor_filtros {
        display: block;
    }

    #interfaz_vehiculos #enlace_mostrarFiltros,
    #interfaz_vehiculos #enlace_ocultarFiltros {
        display: none;
    }
}


/* Interfaz Listado de concesionarios */


#interfaz_concesionarios #seccionProductos {
    background:#FAF8FB;
}

#interfaz_concesionarios .enlace_borrarFiltros, #interfaz_concesionarios .enlace_borrarEtiqueta {
    cursor: pointer;
}

#interfaz_concesionarios .product-sidebar .product-widget {
    background: #E9E9E9;
}

#interfaz_concesionarios .menuMarca:after {
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    content: '';
    display: block;
    height: 8px;
    margin-top: -4px;
    cursor:pointer;
    position: relative;
    right: 12px;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 8px;
}

#interfaz_concesionarios .menuMarca.activo:after{
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    content: '';
    display: block;
    height: 8px;
    margin-top: -4px;
    cursor:pointer;
    position: relative;
    right: 12px;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 8px;
}

#interfaz_concesionarios .filtroModelo {
    margin-left: 15px;
}

#interfaz_concesionarios .nice-select.open .list {
    width: 150px;
}

#interfaz_concesionarios .product-card3 .new {
    background-color: var(--primary-color1);
    /*border-radius: 10px 0;*/
    color: var(--black-color);
    display: inline-block;
    font-family: var(--font-open-sans);
    font-size: 10px;
    font-weight: 600;
    left: 0;
    line-height: 14px;
    padding: 6px 20px;
    position: absolute;
    top: 0;
    z-index: 99;
}

#interfaz_concesionarios #seccionProductos .swiper-slide img {
    width: 100%;
}

#interfaz_concesionarios .product-card .product-content .features::after {
    background-color: #FFF;
}

#interfaz_concesionarios #contiene_paginacionAnterior .colorGris, #interfaz_concesionarios #contiene_paginacionSiguiente .colorGris {
    color: #E9E9E9;
}

#interfaz_concesionarios .list-group-wrapper .price-location {
    margin-bottom: 35px;
}

#interfaz_concesionarios .list-group-wrapper h5 {
    margin-bottom: 35px;
}

#interfaz_concesionarios #columna_resultados {
    margin-top: 6px;
}

#interfaz_concesionarios #contenedor_concesionarios{
    max-height:80px;
    overflow-y:scroll;
}

#interfaz_concesionarios #contenedor_concesionarios::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

#interfaz_concesionarios .product-card .product-content .price-location {
    display: block;
}

#interfaz_concesionarios .logotipo_concesionario {
    height: 45px;
    margin: auto;
    display: block;
}

#interfaz_concesionarios .product-card .product-content .features li {
    font-size: 16px;
    font-family: var(--font-montserrat);
    font-weight: 400;
    color: var(--title-color);
}

@media only screen and (max-width: 1199px) {
    #interfaz_concesionarios #contenedor_filtros {
        display: none;
    }

    #interfaz_concesionarios #enlace_mostrarFiltros {
        display: block;
    }

    #interfaz_concesionarios #enlace_ocultarFiltros {
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
    #interfaz_concesionarios #contenedor_filtros {
        display: block;
    }

    #interfaz_concesionarios #enlace_mostrarFiltros,
    #interfaz_concesionarios #enlace_ocultarFiltros {
        display: none;
    }
}


/* Interfaz detalle de vehiculo */


#interfaz_vehiculo .brand-category-section .brand-category-card .category-img img {
    border-radius: 10px;
}

#interfaz_vehiculo .brand-category-section .brand-category-card .category-img::after {
    border-radius: 10px;
}

#interfaz_vehiculo .brand-category-card {
    border-radius: 10px;
}

#interfaz_vehiculo .esconder {
    visibility: hidden;
}

#interfaz_vehiculo #faqs .bloqueInterno {
    border-bottom: 1px solid lightgray;
    margin-right: 2%;
}

#interfaz_vehiculo #faqs .tituloInterno {
    font-size: 12px;
    font-weight: bold;
}

#interfaz_vehiculo .how-it-work-section {
    background: none;
    padding:20px;
}

#interfaz_vehiculo .callToAction img {
    border-radius: 10px;
    margin-bottom: 10px;
}

#interfaz_vehiculo .mt20 {
    margin-top:20px;
}

#interfaz_vehiculo .subtitulo_detalleVehiculo {
    font-weight: 100;
}

#interfaz_vehiculo .video-btn {
    margin: auto;
}

#interfaz_vehiculo .enlace_vehiculo h5 {
    color: #FFF;
}

#interfaz_vehiculo .colorTextoBlanco {
    color:white;
}

#interfaz_vehiculo #enlace_whatsappConcesionario i {
    font-size: 18px;
}



#interfaz_vehiculo .slick-prev, .slick-next {
    height: 40px;
    width: 40px;
    z-index: 1000;
}

#interfaz_vehiculo .slick-prev {
    left: 0
}

#interfaz_vehiculo .slick-prev:before {
    color: #fff;
    content: "<";
    font-family: 'FontAwesome';
    font-size: 40px;
}

#interfaz_vehiculo .slick-next {
    right: 0;
}

#interfaz_vehiculo .slick-next:before {
    color: #fff;
    content: ">";
    font-family: 'FontAwesome';
    font-size: 40px;
}

#interfaz_vehiculo .product_main_slider img {
    border-radius: 10px;
    width: 100%;
}

#interfaz_vehiculo .product_nav_slider .slick-slide {
    margin-right: 5px;
}




#interfaz_vehiculo .new {
    font-family: var(--font-open-sans);
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    color: var(--black-color);
    background-color: var(--primary-color1);
    display: inline-block;
    z-index: 99;
    position: absolute;
    left: 0;
    top: 0;
    padding: 6px 20px;
    border-radius: 10px 0;
}

#interfaz_vehiculo #car-info i {
    font-size: 22px;
}

#interfaz_vehiculo #car-info img {
    width: 22px;
}

#interfaz_vehiculo #contenedor_vehiculosSimilares .features img {
    width: 14px;
}


#interfaz_vehiculo .car-details-sidebar .inquiry-form {
    background-image: none;
    background-color: #E9E9E9;
}

#interfaz_vehiculo #campo_calcularFinanciamiento_plazo {
    background: var(--white-color);
    border: none;
    border-radius: 10px;
    color: var(--text-color);
    font-family: var(--font-open-sans);
    font-size: 13px;
    font-weight: 400;
    height: 48px;
    outline: none;
    padding: 10px 20px;
    width: 100%;
}

#interfaz_vehiculo #etiqueta_calcularFinanciamiento_mensualidad {
    color: #46d993;
}

#interfaz_vehiculo #contenedor_compararVehiculos_A_imagenPrincipal img,
#interfaz_vehiculo #contenedor_compararVehiculos_B_imagenPrincipal img {
    width: 300px;
}


/* Interfaz vender mi auto */


#interfaz_venderMiAuto #puntosRevisar .how-it-work-section{
    background: none;
    padding:20px;
}

#interfaz_venderMiAuto #puntosRevisar .video-btn{
    margin: auto;
}

@media only screen and (max-width: 1020px) {
    header.style-1 .main-menu ul > li a{
        font-size: 12px;
    }
}

@media only screen and (max-width: 991px) {
    .redesEnlaceMenu{
        float: left;
    }
}


/* Financiamiento */


.marquee_text2 img {
    width: 110px;
}

.customar-feedback-area .partner-slider .js-marquee {
    margin-right: 100px !important;
}


/* Nosotros */


#interfaz_nosotros .brand-category-section .brand-category-card .category-img::after {
    background: none;
}