.alinearDerecha{
    float:right;
}

.card-body div.mb-20{
    height: 40px;
}

.card-body.intelimotor div.mb-20{
    height: 60px;
}

#contenedor_mensaje span{
    color: white;
}

div.dt-button-collection .dt-button{
    min-width: 100%;
    border: 0 !important;
    margin-bottom: 0;
    margin-top:0;
}

.dt-buttons {
    left: 25px;
    position: static;
}

.dt-buttons {
    margin-right: 25px;
}

.dt-buttons .dt-button{
    margin-right: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.icono_listado {
    width:80px;
}

.label.label-blue, .label-blue.jvectormap-tip {
    background: #3cf;
}

.link_habilitar {
    margin-left: 25px;
}

.link_publicar {
    margin-left: 25px;
}

.main-sidemenu{
    margin-top: 40px;
}

.oculta_campos{
    height: 0px; 
    overflow-x: hidden;
}

.perfilUsuarioVisible{
    display: block !important;
    left: -135px !important;
}

.select2-selection__rendered{
    border: none !important;
}

.side-app{
    margin-bottom: 20px;
}

.side-header{
    height:96px !important;
}

.table > tbody > tr > td, .jsgrid-table > tbody > tr > td, .table > tbody > tr > th, .jsgrid-table > tbody > tr > th, .table > tfoot > tr > td, .jsgrid-table > tfoot > tr > td, .table > tfoot > tr > th, .jsgrid-table > tfoot > tr > th, .table > thead > tr > td, .jsgrid-table > thead > tr > td, .table > thead > tr > th, .jsgrid-table > thead > tr > th {
    padding: 8px;
}

.zonaCaracteristicas.intelimotor .mb-20{
    height: 65px !important;
}
.zonaCaracteristicas.intelimotor .mb-20 label{
        font-size: 12px;
    }


/* Elimina spinner de inputs de tipo number */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

@media only screen and (max-width: 1024px) {
    .zonaCaracteristicas label.form-label{
        font-size: 12px;
    }
    .zonaDestacados .card-body div.mb-20{
        height: 55px;
    }
    .zonaDestacados label.form-label{
        font-size: 12px;
    }

    .zonaCaracteristicas.intelimotor .mb-20{
        height: 80px !important;
    }
    .zonaCaracteristicas.intelimotor .mb-20 label{
        font-size: 10px;
    }
}

@media only screen and (max-width: 425px) {
     .mb-20{
        margin-top: 15px;
    }
}